@page "/staffs/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View Staff</h3>
<FormComponent staff="staff" Disabled="true" />
@code {
    [Parameter] public int id { get; set; }
    Staff staff = new Staff();
    protected async override Task OnParametersSetAsync()
    {
        staff = await _client.GetFromJsonAsync<Staff>($"{Endpoints.StaffsEndpoint}/{id}");
    }
}