@page "/tradeorderitems/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@implements IDisposable

<h3 class="card-title">TradeOrderItem</h3>
<br />

<a href="/tradeorderitems/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New TradeOrderItem
</a>
<br />
<br />

@if (TradeOrderItems == null)
{
    <div class="alert alert-info">Loading TradeOrderItems...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Quantity</th>
                <th>TradeOrderId</th>
                <th>ProductId</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var TradeOrderItem in TradeOrderItems)
            {
                <tr>
                    <td>@TradeOrderItem.Id</td>
                    <td>
                        <a href="/tradeorderitems/view/@TradeOrderItem.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/tradeorderitems/edit/@TradeOrderItem.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(TradeOrderItem.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<TradeOrderItem> TradeOrderItems;

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        TradeOrderItems = await _client.GetFromJsonAsync<List<TradeOrderItem>>($"{Endpoints.TradeOrderItemsEndpoint}");
    }

    async Task Delete(int TradeOrderItemId)
    {
        var TradeOrderItem = TradeOrderItems.First(q => q.Id == TradeOrderItemId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {TradeOrderItem.Id}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.TradeOrderItemsEndpoint}/{TradeOrderItemId}");
            await OnInitializedAsync();
        }
    }
    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}
