@page "/products/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Product</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditProduct" product="product" />

@code {
    [Parameter] public int id { get; set; }
    Product product = new Product();

    protected async override Task OnParametersSetAsync()
    {
        product = await _client.GetFromJsonAsync<Product>($"{Endpoints.ProductsEndpoint}/{id}");
    }

    async Task EditProduct()
    {
        await _client.PutAsJsonAsync($"{Endpoints.ProductsEndpoint}/{id}", product);
        _navManager.NavigateTo("/products/");
    }
}
