@page "/tradeorders/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New TradeOrder</h3>
<hr />
<br />

<FormComponent ButtonText="Create TradeOrder" tradeorder="tradeorder" OnValidSubmit="@CreateTradeOrder" />

@code {
    TradeOrder tradeorder = new TradeOrder();
    private async Task CreateTradeOrder()
    {
        await _client.PostAsJsonAsync(Endpoints.TradeOrdersEndpoint, tradeorder);
        _navManager.NavigateTo("/tradeorders/");
    }
}