@page "/tradeorders/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit TradeOrder</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditTradeOrder" tradeorder="tradeorder" />

@code {
    [Parameter] public int id { get; set; }
    TradeOrder tradeorder = new TradeOrder();

    protected async override Task OnParametersSetAsync()
    {
        tradeorder = await _client.GetFromJsonAsync<TradeOrder>($"{Endpoints.TradeOrdersEndpoint}/{id}");
    }

    async Task EditTradeOrder()
    {
        await _client.PutAsJsonAsync($"{Endpoints.TradeOrdersEndpoint}/{id}", tradeorder);
        _navManager.NavigateTo("/tradeorders/");
    }
}
