@page "/sellorders/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit SellOrder</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditSellOrder" sellorder="sellorder" />

@code {
    [Parameter] public int id { get; set; }
    SellOrder sellorder = new SellOrder();

    protected async override Task OnParametersSetAsync()
    {
        sellorder = await _client.GetFromJsonAsync<SellOrder>($"{Endpoints.SellOrdersEndpoint}/{id}");
    }

    async Task EditSellOrder()
    {
        await _client.PutAsJsonAsync($"{Endpoints.SellOrdersEndpoint}/{id}", sellorder);
        _navManager.NavigateTo("/sellorders/");
    }
}
