@page "/sellorders/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View SellOrder</h3>
<FormComponent sellorder="sellorder" Disabled="true" />
@code {
    [Parameter] public int id { get; set; }
    SellOrder sellorder = new SellOrder();
    protected async override Task OnParametersSetAsync()
    {
        sellorder = await _client.GetFromJsonAsync<SellOrder>($"{Endpoints.SellOrdersEndpoint}/{id}");
    }
}